{% load i18n static %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="pl" lang="pl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/custom.css' %}">
        <link rel="stylesheet" href="{% static "coderedcms/vendor/bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
        <script type="text/javascript" src="{% static "jquery/jquery-3.6.4.min.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "coderedcms/vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "schedule.js" %}"></script>
        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "jquery/jquery-ui.theme.css" %}" type="text/css" media="screen">
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
    {% block content %}
<div class="container mx-auto">
    <p style="clear:both">

        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block body %}
            {% endblock %}

        </div>

        <div id="footer">{% block footer %}{% endblock %}</div>

    </body>
</div>
{% endblock %}
</html>
