{% extends "coderedcms/pages/web_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags%}
{% block custom_assets %}
{% endblock %}
{% block content_body %}

<!--========================= about-country+smoking start========================= -->
<section id="about">
    <div class="about-section gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-img-wrapper">
                        <div class="position-relative d-inline-block wow fadeInLeft" data-wow-delay=".3s">
                            <div class="about-experience">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-img-wrapper">
                        <div class="position-relative d-inline-block wow fadeInLeft" data-wow-delay=".3s">
                            <div class="about-experience">
                                <h3>

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    {{ block.super }}
{% endblock %}
